.user{
    
    height: 100vh;
  
    
}
.user__header{
    display: flex;
    align-items: center;
    margin-left: 50px;;
    margin-top: 50px;
   
    
}
a{
    text-decoration: none;
    color: black;
}